__pycache__/
*.pyc
.venv/
venv/
.env

# Data
data/all-cards.jsonl
data/processed/
*.npy

# Models (Keep lightweight pre-trained hist_gradient_boosting model)
models/*
!models/hist_gradient_boosting/
!models/hist_gradient_boosting/*
*.pkl
!models/hist_gradient_boosting/*.pkl

# OS & IDE
.vscode/
.idea/
.DS_Store