__pycache__/
*.pyc
.venv/
venv/
.env

# Data
data/all-cards.jsonl
data/processed/
*.npy

# Models
models/*
!models/hist_gradient_boosting/
!models/hist_gradient_boosting/*
!models/plots/
!models/plots/*
*.pkl
!models/hist_gradient_boosting/*.pkl

# OS & IDE
.vscode/
.idea/
.DS_Store